$id-background-color : #7d7d7d;
$id-text-color : #252525;
$icon-background-color : #464646;
$content-background-color : #b7b7b7;
$content-text-color : #252525;



div.id{
    background-color: $id-background-color;
    color: $id-text-color;
    height: 100%;
    width: calc(100% - 50px);
    vertical-align: middle;
    float: left;
    border-top-right-radius: 10px;
}

p.content{
    background-color: $content-background-color;
    color: $content-text-color;
    margin: 0%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px;
}

img.doc-image{
    background-color: $icon-background-color;
    width: 50px; 
    height: 50px; 
    float: left;
}
.result{
    margin: auto;
    width: 75%;
    margin-bottom: 25px;
}